<style>
  body{
    background-image: url("https://i.ibb.co/RDCC1M6/RAIN.jpg");
    color: #ffffff
  }
</style>
<div class="indented">
<h1>a</h1>
<h1>wet</h1>
<h1>weekend</h1>
</div>
<br></br>

<h3>We're here to suggest the best place for you to get wet this weekend</h3>

<br></br>
<br></br>

<a href=<%= search_index_path %> class="main_button">Make it rain</a>
