<style>
  body {
    color: #ffffff;
    line-height: 50px;
    /* background-image: url("https://raw.githubusercontent.com/dornby/wet-weekend/master/app/assets/images/RAIN.jpg"); */
  }

  @media (min-device-aspect-ratio: 405/454) and (max-width: 1654px) and (max-height: 1098px) {
    body {
      background-image: url("https://raw.githubusercontent.com/dornby/wet-weekend/master/app/assets/images/RAIN.jpg");
    }
  }

</style>

<div class="indented">
  <h1>a</h1>
  <h1>wet</h1>
  <h1>weekend</h1>
</div>

<br>

<h3>We're here to suggest the best place for you to get wet this weekend</h3>

<br>

<a href=<%= search_index_path %> class="main_button">Make it rain</a>
