/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
 }

@font-face {
  font-family: "Avenir";
  src: url(../font/AvenirLTStd-Roman.otf) format("truetype");
}

* {
  font-family: "Avenir";
 }

 html, body {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.hero {
  height: 50%;
  background-color: #000000;
}

.hero_image {
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/dornby/wet-weekend/master/app/assets/images/RAIN.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero_blank {
  height: 27.5%;
}

.hero_text{
  height: 45%;
  margin-left: calc(50% - 15vh);
}

h1 {
   height: 33%;
   font-size: 7vh;
   text-shadow: 5px 5px 2px black;
  }

h2 {
   font-size: 4vh;
   text-shadow: 3px 3px 1px black;
  }

.middle_homepage {
  height: 20%;
  display: flex;
  align-items: center;
}

 h3 {
   width: 100%;
   font-size: 5vmin;
   color: #8fc6bd;
   font-style: italic;
   text-align: center;
   text-shadow: 1px 1px 1px black;
  }

.bottom_homepage {
  height: 30%;
  display: flex;
  align-items: center;
}

.main_button {
 background-color:#8fc6bd;
 border-radius:6px;
 border:2px solid black;
 display:inline-block;
 cursor:pointer;
 color:#000000;
 font-size:3vh;
 font-weight: bold;
 padding:18px 76px;
 text-decoration:none;
 position:relative;
 left:50%;
 transform: translateX(-50%);
}

.main_button:hover {
 background-color:#b6d6d0;
 color:#000000;
}
.main_button:active {
 position:relative;
 top:1px;
}

.search_top {
  order: 1;
  flex-basis: 40%;
}

.search_bottom {
  order: 2;
  flex-basis: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.search_results {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  text-align: center;
  color: #000000;
  flex-basis: 100%;
}

.search_hero_image {
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/dornby/wet-weekend/master/app/assets/images/RAIN.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h4 {
  order: 2
}

@media (min-device-width: 500px) {
  .search_results {
    flex-basis: 50%
  }
}

@media (min-device-width: 1000px) {
  .search_results {
    flex-basis: 25%
  }
}
